{% extends "layout.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-lg-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="bg-dark text-white"
                style="background: #ffffff; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px; margin-bottom: 20px; position: relative;">
                <div class="media" style="display: flex;">
                    <img class="rounded-circle" src="{{ url_for('static', filename='images/default.jpg') }}"
                        style="height: 125px; width: 125px; margin-right: 20px; margin-bottom: 16px;">
                    <div class="media-body">
                        <h2 class="media-heading text-white" style="font-size: 2.5rem;">{{ user.name }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Change Password</legend>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}

                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-sm") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label mt-4") }}

                            {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control form-control-sm") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.new_password.label(class="form-control-label mt-4") }}

                            {% if form.new_password.errors %}
                            {{ form.new_password(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.new_password(class="form-control form-control-sm") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label(class="form-control-label mt-4") }}
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.confirm_password(class="form-control form-control-sm") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info mt-4") }}
                    </div>
                    <small class="text-muted ml-2">
                        <a href="{{ url_for('forgot_password')}}">Forgot Password?</a>
                    </small>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}