{% extends 'layout.html' %}

{% block content %}

<div class="cover-container d-flex p-3 mx-auto flex-column text-center my-6" style="height: 88vh;">
  <main role="main" class="inner cover my-auto">
    <h1 class="cover-heading text-white">Are you sure?</h1>
    <p class="lead">All the data associated with this server will be deleted! Proceed?</p>
    <p class="lead">
      <a href="/delete/{{ id }}" class="btn btn-lg btn-danger">Confirm Delete</a>
      <a href="{{url_for('servers')}}" class="btn btn-lg btn-primary">Cancel</a>
    </p>
  </main>
</div>

{% endblock %}