{% extends 'layout.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h1>Basic Settings</h1>
                <hr>
                Configure tournaments basic settings like name, payment information etc. <br>
                <a class="btn btn-primary mt-2" href="/organise/{{tour.id}}/settings">Settings</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h1>Registrations</h1>
                <hr>
                Total Registrations: {{num_registrations}} <br>
                Accepted Registrations: {{num_accepted}} <br>
                <a class="btn btn-primary mt-2" href="/organise/{{ tour.id }}/registrations">Registrations</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h1>Servers</h1>
                <hr>
                Total Servers: {{num_servers}} <br>
                Servers Online: {{tour.participants}} <br>
                <a class="btn btn-primary mt-2" href="/organise/{{tour.id}}/servers">Setup</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h1>Matches and Schedules</h1>
                <br>
            </div>
        </div>
    </div>
</main>
{% endblock %}