{% extends 'layout.html' %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center my-6">
  <main role="main" class="inner cover my-auto">
    <h1 class="cover-heading text-white">Forgot Password?</h1>
    <p class="lead">There is really nothing we can do. You can contact admin!</p>
    <p class="lead">
      <a href=mailto:admin@cargo.win target="_blank" class="btn btn-lg btn-secondary">Contact Admin</a>
    </p>
  </main>
</div>

{% endblock %}