{% extends 'layout.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-lg-10">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h2>Tournament Details</h2>
                <hr>
                <table class="table text-white">
                        <tbody>
                        <tr>
                            <td><b>Tournament Structure:</b></td>
                            <td>{{ bracket }}</td>
                        </tr>
                        <tr>
                            <td><b>Registration Last Date:</b></td>
                            <td>{{ tour.reg_end }}</td>
                        </tr>
                        <tr>
                            <td><b>Tournament Start Date:</b></td>
                            <td>{{ tour.tour_start }}</td>
                        </tr>
                        <tr>
                            <td><b>Tournament End Date:</b></td>
                            <td>{{ tour.tour_end }}</td>
                        </tr>
                        <tr>
                            <td><b>Prize Pool:</b></td>
                            <td>{{ tour.prize }}</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
                <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h2>Registered Team Details</h2>
                <hr>
                    {% if team %}
                    <h3>{{ team.name }}</h3>
                    <table class="table text-white">
                        <thead>
                        <tr>
                            <th>Nickname</th>
                            <th>Steam ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if team.p1 %}
                        <tr>
                            <td>{{ team.p1 }}</td>
                            <td>{{ team.p1_steam_id }}</td>
                        </tr>
                        {% endif %}
                        {% if team.p2 %}
                        <tr>
                            <td>{{ team.p2 }}</td>
                            <td>{{ team.p2_steam_id }}</td>
                        </tr>
                        {% endif %}
                        {% if team.p3 %}
                        <tr>
                            <td>{{ team.p3 }}</td>
                            <td>{{ team.p3_steam_id }}</td>
                        </tr>
                        {% endif %}
                        {% if team.p4 %}
                        <tr>
                            <td>{{ team.p4 }}</td>
                            <td>{{ team.p4_steam_id }}</td>
                        </tr>
                        {% endif %}
                        {% if team.p5 %}
                        <tr>
                            <td>{{ team.p5 }}</td>
                            <td>{{ team.p5_steam_id }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% else %}
                    No team information found! Register your team in-order to request participation. <a class="btn btn-warning" href="/team">Team</a>
                    {% endif %}
            </div>
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h2>Rules and Regulations</h2>
                <hr>
                {{ tour.rules }}
            </div>
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h2>Organiser Contacts</h2>
                <hr>
                <table class="table text-white">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ organiser.name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ organiser.email }}</td>
                    </tr>
                    <tr>
                        <td>Discord</td>
                        <td><a href=" {{ tour.discord_invite }}">Join Discord Server</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bg-dark" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;">
                <h1>Matches and Schedules</h1>
                <br>
                <table class="table text-white mt-5">
                    <thead>
                      <tr>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Round</th>
                        <th>Match</th>
                        <th>Date</th>
                          <th>Time</th>
                          <th>Winner</th>
                          <th>Actions</th>
                      </tr>
                    </thead>
                    {% if matches %}

                    <tbody>
                    {% for round in matches %}
                    {% for e_match in matches[round] %}
                      <tr>
                        <td>
                            {% if matches[round][e_match]["team1"] %}
                            {{ matches[round][e_match]["team1"]["name"] }}
                            {% else %}
                            TBD
                            {% endif %}
                        </td>
                        <td>
                          {% if matches[round][e_match]["team2"] %}
                            {{ matches[round][e_match]["team2"]["name"] }}
                            {% else %}
                            TBD
                            {% endif %}
                        </td>
                        <td>
                            {{round}}
                        </td>
                        <td>
                            {{e_match}}
                        </td>
                          <td>
                            {% if matches[round][e_match]["date"] %}
                              {{matches[round][e_match]["date"]}}
                            {% else %}
                            TBD
                            {% endif %}
                        </td>
                          <td>
                            {% if matches[round][e_match]["time"] %}
                              {{matches[round][e_match]["time"]}}
                            {% else %}
                            TBD
                            {% endif %}
                        </td>
                          <td>
                              {% if matches[round][e_match]["winner"] %}
                            {{ matches[round][e_match]["winner"]["name"] }}
                            {% else %}
                            TBD
                            {% endif %}
                          </td>
                        <td>
                            {% if matches[round][e_match]["veto"] %}
                            <a class="btn btn-warning btn-sm" href='/matchpage/{{ matches[round][e_match]["matchid"] }}/{{tour_type}}'>Veto Page</a>
                          <a class="btn btn-success btn-sm" href='/matchpage/{{ matches[round][e_match]["matchid"] }}/results'>Match Page</a>
                            {% else %}
                            <button class="btn btn-success btn-sm" disabled>Match Page</button>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                    {% endif %}
                  </table>
            </div>
            {% if team and not admin %}
                        <a class="btn btn-danger mb-5" href="/tournaments/{{ tour.id }}/withdraw">Withdraw Registration</a>
                        <a class="btn btn-warning mb-5" href="/browse">Back to Browse</a>
            {% endif %}
            {% if admin %}
            <a class="btn btn-warning" href="/organise/{{tour.id}}/registrations">Back to Registration</a>
            {% endif %}

        </div>
    </div>
</main>
{% endblock %}