{% extends 'layout.html' %}
{% block content %}
<div class="container">
<div id="content" class="text-white">
      <div class="row">
          <div class="col-md-9">
              <h1>{{ tour.name }} - Servers</h1>
          </div>
          <div class="col-md-3">
            <div class="row">
            <div class="col-sm-6"><a class="btn btn-warning btn-sm" href="/organise/{{tour.id}}/dashboard">Dashboard</a></div>
            <div class="col-sm-6"><a class="btn btn-success btn-sm" href="/organise/{{tour.id}}/add_servers">Add Server</a></div>
              </div>
          </div>
      </div>
  <table class="table text-white mt-5">
    <thead>
      <tr>
        <th>Name of the Server</th>
        <th>IP</th>
        <th>Port</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for server in servers %}
      <tr>
        <td>
          {{ server.hostname }}
        </td>
        <td>
          {{ server.ip }}
        </td>
        <td>
          {{server.port}}
        </td>
        <td>
          {{server.status}}
        </td>
        <td>
          <a class="btn btn-danger btn-sm" href="/organise/{{server.id}}/delete/{{tour.id}}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
